---
import SocialLinks from './social/SocialLinks.astro';
---

<section class="max-w-2xl h-screen mx-auto flex flex-col justify-center">
  <div class="mb-10">
    <h1
      class="font-bold text-4xl sm:text-5xl md:text-6xl lg:text-[80px] text-secondary mb-2 sm:mb-4"
    >
      Moisés Herrera
    </h1>
    <h2
      class="font-semibold text-3xl sm:text-4xl md:text-5xl lg:text-[52px] text-secondary mb-10"
    >
      Software Developer
    </h2>
    <p class="text-lg sm:text-xl text-secondary-gray text-wrap">
      +{new Date().getFullYear() - 2022} años de experiencia como <strong
        class="text-accent">Desarrollador Web.</strong
      >
      <span class="opacity-75">
        Estudiante de Ingeniería Informática apasionado por el desarrollo de
        software.
      </span>
    </p>
  </div>

  <SocialLinks />
</section>
